# Ignore everything by default
/*
# Un-ignore those two folders of interest
!/workshop
/workshop/*
!/stages
/stages/*
# Whitelist: those specific directories and their contents are tracked
# Characters
!/workshop/Nozomi
!/workshop/Hypercam
!/workshop/Missingno
# Buddies
!/workshop/NiceBuddy
!/workshop/CosmicClone
!/workshop/Milesbot
# Stages
# !/stages/MFLikeButton